:root {
    --blue: #3e95ff;
    --darkblue: #2a89fe;
    --grey: #ebebeb;
    --darkgrey: #e0e0e0;
    --red: #ff8787;
    --darkred: #ff7878;
    --green: #c6ffc6;
    --darkgreen: #b3fbb3;
    --yellow: #fff5c6;
    --darkyellow: #faecc0;
}

body {
    display: flex;
    flex-direction: column;
    padding: 16px 32px;
    gap: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    font-size: 12pt;
    border: none;
    border-collapse: collapse;
    text-align: left;
    table-layout: fixed;
}

th {
    background-color: lightgrey;
    margin: 0px;
    padding: 6px;
}

tr:nth-child(even) {
    background-color: rgba(211, 211, 211, 0.4);
}

td {
    margin: 0px;
    padding: 6px;
    font-size: 10pt;
}

button {
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
}

button:hover {
    cursor: pointer;
}

.btn-blue {
    color: white;
    background-color: var(--blue);
    font-weight: 600;
}

.btn-blue:hover {
    background-color: var(--darkblue);
}

.btn-grey {
    background-color: var(--grey);
}

.btn-grey:hover {
    background-color: var(--darkgrey);
}

.btn-sm {
    padding: 4px 8px;
    font-size: 8pt;
}

.btn-red {
    background-color: var(--red);
    color: white;
}

.btn-red:hover {
    background-color: var(--darkred);
}

.btn-green {
    background-color: var(--green);
    color: black;
}

.btn-green:hover {
    background-color: var(--darkgreen);
}

.btn-yellow {
    background-color: var(--yellow);
    color: black;
}

.btn-yellow:hover {
    background-color: var(--darkyellow);
}

#btn-new-book {
    width: fit-content;
    height: fit-content;
}

body > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h2 {
    text-align: center;
}

dialog {
    padding: 32px;
    border: 1px solid lightgrey;
    border-radius: 8px;
}

dialog form {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

dialog[open]::backdrop {
    background-color: rgb(0 0 0 / 50%);
  }

form > div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

form > div div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}

form > div div:last-child {
    justify-content: left;
    gap: 8px;
}

form > div:last-child {
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

form > div:last-child button {
    width: 50%;
}

input[type="text"] {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid lightgrey;
    min-width: 300px;
}

input[type="checkbox"] {
    padding: 0;
    margin: 0;
}